<div class="Home">
  <div class="logo">

    <img src="../../assets/resources/LogoStar.png" height="100rem">
    <h5>Bienvenido a Star ¿+?</h5>
    </div>
    <div class="Premeres">
       <div class="new">  
        <img src="/assets/resources/New/1-New.png" alt=""> 
        <img src="/assets/resources/New/2-New.png" alt=""> 
        <img src="/assets/resources/New/3-New.png" alt=""> 
        <img src="/assets/resources/New/4-New.png" alt=""> 
       </div>
       
    </div>
    <div class="logIn">
      <p>Correo Electronico:</p>
      <input type="email" name="email" id="email_Home"  >
      <p>Cntraseña:</p>
      <input type="password" name="pass" id="pass">
    </div>
   
    <ion-button routerLink="./tab1">Iniciar</ion-button>
    
</div>