<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <div class="logo"><img src="../../assets/resources/LogoStar.png" alt="" ></div>


    <ion-toolbar>
      <ion-segment value="all">
        <ion-segment-button value="Movies">
          <ion-label>Movies</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Series">
          <ion-label>Series</ion-label>
        </ion-segment-button>
        <ion-segment-button value="ESPN">
          <ion-label>ESPN</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>


    <div class="Premeres">
      <div class="new">  
        <img src="/assets/resources/New/1-New.png" alt=""> 
        <img src="/assets/resources/New/2-New.png" alt=""> 
        <img src="/assets/resources/New/3-New.png" alt=""> 
        <img src="/assets/resources/New/4-New.png" alt=""> 
      </div>
    </div>

    <ion-label>
      Recomendado para ti
    </ion-label>

    <div class="Recomended">
      <div class="new">  
        <img src="/assets/resources/entertainment/deadPool.png" alt=""> 
        <img src="/assets/resources/entertainment/FamilyGuy.png" alt=""> 
        <img src="/assets/resources/entertainment/Shrek.png" alt=""> 
        <img src="/assets/resources/entertainment/EraDeHielo.png" alt=""> 
        
      </div>
     
      
    </div>

</ion-content>  
