

<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <img src="../../assets/resources/LogoStar.png" height="45rem">
      <ion-searchbar animated="true" placeholder="Busca lo que quieras"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label><ion-button expand="full"><ion-icon name="happy-outline"></ion-icon>Series</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button expand="full"><ion-icon name="videocam-outline"></ion-icon> Peliculas</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button expand="full"><ion-icon name="football-outline"></ion-icon>Deportes</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button expand="full"><ion-icon name="skull-outline"></ion-icon>Netflix</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button expand="full"><ion-icon name="skull-outline"></ion-icon>HBO</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button expand="full"><ion-icon name="skull-outline"></ion-icon>Disney+</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button expand="full"><ion-icon name="star-half-outline"></ion-icon>Favoritos</ion-button></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
