ion-content{
    ion-item{
        --background: #0A0C15;    
    }
    ion-button{
        --color: #ffffff; 
        --background: #0A0C15;
        
        --background-hover: #0A0C15;
    --background-activated: #171b2c;
    --background-focused: #0A0C15;
    ion-icon{

        margin-right: 10px;
    }
    }
    
    --background: #0A0C15;
}
